{
    "presets": [
        ["@babel/preset-env", {
            "targets": [
                "last 5 versions"
            ]
        }],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}